In [1]:
import mysql.connector as conn

In [4]:
mydb=conn.connect(host='localhost',user='root',password='mysql')

In [5]:
cursor=mydb.cursor()

In [6]:
cursor.execute('show databases')

In [7]:
cursor.fetchall()

[('bank',),
 ('ineuron',),
 ('ineuron1',),
 ('information_schema',),
 ('mysql',),
 ('org',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [8]:
cursor.execute('use org')

In [9]:
cursor.execute('show tables')

In [10]:
cursor.fetchall()

[('data',), ('worker',)]

In [11]:
cursor.execute('select * from worker')

In [13]:
cursor.execute("INSERT into WORKER values (001, 'Monica', 'Arora', 100000, 'HR'), (002, 'Niharika', 'Verma', 80000, 'Admin'), (003, 'Vishal', 'Singhal', 300000, 'HR'),(004, 'Amitabh', 'Singh', 500000, 'Admin'), (005, 'Vivek', 'Bhati', 500000, 'Admin'), (006, 'Vipul', 'Diwan', 200000, 'Account'), (007, 'Satish', 'Kumar', 75000, 'Account'), (008, 'Geetika', 'Chauhan', 90000, 'Admin');")

In [15]:
cursor.execute('select * from worker')

In [16]:
cursor.fetchall()

[(1, 'Monica', 'Arora', 100000, 'HR'),
 (2, 'Niharika', 'Verma', 80000, 'Admin'),
 (3, 'Vishal', 'Singhal', 300000, 'HR'),
 (4, 'Amitabh', 'Singh', 500000, 'Admin'),
 (5, 'Vivek', 'Bhati', 500000, 'Admin'),
 (6, 'Vipul', 'Diwan', 200000, 'Account'),
 (7, 'Satish', 'Kumar', 75000, 'Account'),
 (8, 'Geetika', 'Chauhan', 90000, 'Admin')]

# Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

In [17]:
cursor.execute('select substr(FIRST_NAME,1,3) from worker')

In [18]:
cursor.fetchall()

[('Mon',),
 ('Nih',),
 ('Vis',),
 ('Ami',),
 ('Viv',),
 ('Vip',),
 ('Sat',),
 ('Gee',)]

# Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [ ]:
cursor.execute('select charindex('a','Amitabh') as Position from worker')

# Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

In [19]:
cursor.execute('select first_name, max(wage) from worker group by department')

In [20]:
cursor.fetchall()

[('Monica', 300000), ('Niharika', 500000), ('Vipul', 200000)]