In [1]:
import mysql.connector as conn
import pandas as pd

In [2]:
mydb=conn.connect(host='localhost', user='root',password='mysql')

In [3]:
cursor=mydb.cursor()

In [4]:
cursor.execute('show databases')

In [5]:
cursor.fetchall()

[('bank',),
 ('ineuron',),
 ('ineuron1',),
 ('information_schema',),
 ('mysql',),
 ('org',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [6]:
cursor.execute('use org')

In [7]:
cursor.execute('show tables')

In [8]:
cursor.fetchall()

[('data',), ('worker',)]

In [9]:
cursor.execute('select * from worker')

In [10]:
cursor.fetchall()

[]

In [11]:
cursor.execute("INSERT into WORKER values (001, 'Monica', 'Arora', 100000, 'HR'), (002, 'Niharika', 'Verma', 80000, 'Admin'), (003, 'Vishal', 'Singhal', 300000, 'HR'),(004, 'Amitabh', 'Singh', 500000, 'Admin'), (005, 'Vivek', 'Bhati', 500000, 'Admin'), (006, 'Vipul', 'Diwan', 200000, 'Account'), (007, 'Satish', 'Kumar', 75000, 'Account'), (008, 'Geetika', 'Chauhan', 90000, 'Admin');")

In [12]:
cursor.execute('select * from worker')

In [13]:
cursor.fetchall()

[(1, 'Monica', 'Arora', 100000, 'HR'),
 (2, 'Niharika', 'Verma', 80000, 'Admin'),
 (3, 'Vishal', 'Singhal', 300000, 'HR'),
 (4, 'Amitabh', 'Singh', 500000, 'Admin'),
 (5, 'Vivek', 'Bhati', 500000, 'Admin'),
 (6, 'Vipul', 'Diwan', 200000, 'Account'),
 (7, 'Satish', 'Kumar', 75000, 'Account'),
 (8, 'Geetika', 'Chauhan', 90000, 'Admin')]

# Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [22]:
cursor.execute('select * from worker where first_name not in("Vipul" and "Satish")')

# Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [38]:
cursor.execute("select * from worker where (first_name like '%h') and char_length(first_name)=6")

In [39]:
cursor.fetchall()

[(7, 'Satish', 'Kumar', 75000, 'Account')]

# Q-3. Write an SQL query to print details of the Workers whose FIRST_NAME starts with ‘v’

In [43]:
cursor.execute("select * from worker where first_name like 'v%'")

In [44]:
cursor.fetchall()

[(3, 'Vishal', 'Singhal', 300000, 'HR'),
 (5, 'Vivek', 'Bhati', 500000, 'Admin'),
 (6, 'Vipul', 'Diwan', 200000, 'Account')]