In [54]:
import mysql.connector as conn

In [55]:
mydb=conn.connect(host='localhost',user='root',password='divineland')

In [56]:
cursor=mydb.cursor()

In [57]:
cursor.execute('show databases')

In [58]:
cursor.fetchall()

[('bank',),
 ('ineuron',),
 ('ineuron1',),
 ('information_schema',),
 ('mysql',),
 ('org',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [59]:
cursor.execute('use org')

In [60]:
cursor.execute('show tables')

In [61]:
cursor.fetchall()

[('data',), ('worker',)]

In [64]:
cursor.execute('select * from worker')

In [65]:
cursor.fetchall()

[]

In [66]:
cursor.execute("INSERT into WORKER values (001, 'Monica', 'Arora', 100000, 'HR'), (002, 'Niharika', 'Verma', 80000, 'Admin'), (003, 'Vishal', 'Singhal', 300000, 'HR'),(004, 'Amitabh', 'Singh', 500000, 'Admin'), (005, 'Vivek', 'Bhati', 500000, 'Admin'), (006, 'Vipul', 'Diwan', 200000, 'Account'), (007, 'Satish', 'Kumar', 75000, 'Account'), (008, 'Geetika', 'Chauhan', 90000, 'Admin');")

In [68]:
cursor.execute('select * from worker')

In [69]:
cursor.fetchall()

[(1, 'Monica', 'Arora', 100000, 'HR'),
 (2, 'Niharika', 'Verma', 80000, 'Admin'),
 (3, 'Vishal', 'Singhal', 300000, 'HR'),
 (4, 'Amitabh', 'Singh', 500000, 'Admin'),
 (5, 'Vivek', 'Bhati', 500000, 'Admin'),
 (6, 'Vipul', 'Diwan', 200000, 'Account'),
 (7, 'Satish', 'Kumar', 75000, 'Account'),
 (8, 'Geetika', 'Chauhan', 90000, 'Admin')]

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [70]:
cursor.execute('select rtrim(first_name) from worker')

In [71]:
cursor.fetchall()

[('Monica',),
 ('Niharika',),
 ('Vishal',),
 ('Amitabh',),
 ('Vivek',),
 ('Vipul',),
 ('Satish',),
 ('Geetika',)]

# Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [76]:
cursor.execute('select distinct department, char_length(department)as length from worker;')

In [77]:
cursor.fetchall()

[('HR', 2), ('Admin', 5), ('Account', 7)]

In [78]:
import pandas as pd

In [84]:
pd.read_sql('select distinct department, char_length(department)as length from worker',mydb)

  department  length
0         HR       2
1      Admin       5
2    Account       7

# Q-3. Write an SQL query to fetch nth max salaries from a table.

In [ ]:
cursor.execute('select wage from worker order by wage desc limit N-1,1')